<!-- <p>home-page works!</p> -->



<app-homecarousel></app-homecarousel>


<div class="container">

        <div class="row home-words">
                <span>Words</span>
        </div>
        <div class="row">
                <div class="col-md-4 words-card" *ngFor="let word of wordsData">
                        <p>{{word.passage}}</p>
                </div>

        </div>
       
        <!-- <app-bible-page></app-bible-page> -->
        <!-- <app-contact-us></app-contact-us> -->

</div>
<app-prayerrequest></app-prayerrequest>

<!-- <app-footer></app-footer> -->