.request-header {
    background: beige;
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}

.text-end {
    text-align: end;
}

.submit-request {
    width: 20%;
}

.request-input {
    width: 80% !important;
    height: 40px !important;
}

.margin-tp10 {
    margin-top: 10px !important;
}

.request-table {
    width: 100%;
    margin-top: 10px;
}

.requestform {
    border: 1px solid beige;
    border-radius: 8px;
}

.btn-card {
    text-align: center;
    margin-top: 10px;
}
.sbmt-btn{
    width: 50%;
  text-align: center;
}