<div class="container">

    <!-- <p>prayerrequest works!</p>
     -->
    <div class="row">
        Request
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magnam, nisi a eos voluptatibus quibusdam
                earum quam. Eius, deleniti odio placeat rerum illum neque temporibus aut, nulla odit ullam facere
                corrupti. Facere qui facilis neque ipsum numquam voluptates quisquam debitis maiores quo blanditiis?
                Nisi vitae, optio sit voluptates sequi quia?</p>
        </div>
        <div class="col-md-6">
            <form>
                <div class="row">
                    <div class="col-md-6"> Name</div>
                    <div class="col-md-6">
                        <input type="text" placeholder="please enter Name" nz-input />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6"> City/Village</div>
                    <div class="col-md-6">
                        <input type="text" placeholder="please enter City/ Village" nz-input />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> Email</div>
                    <div class="col-md-6">
                        <input type="text" placeholder="please enter Email" nz-input />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> Phone</div>
                    <div class="col-md-6">
                        <input type="text" placeholder="please enter Phone" nz-input />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">Remarks</div>

                    <div class="col-md-6">
                        <textarea nz-input></textarea>
                    </div>
                </div>
                <button nz-button nzType="primary">Submit</button>
            </form>
        </div>
    </div>
</div>