<div class="container">

    <div class="row">
        <div class="col-md-6">
            <address>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt praesentium hic ab quam
                aspernatur perferendis quisquam molestiae earum architecto placeat atque explicabo consequatur
                reprehenderit magnam pariatur, unde dolor sint saepe? Totam eius quam doloremque.
            </address>
        </div>
        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15234.081145551234!2d82.3609162!3d17.3386798!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39da9c70000001%3A0xa4cf6ff61c0d2df9!2sCalvary%20Church%20Jesus%20%2CSrungavaram!5e0!3m2!1sen!2sin!4v1703485564006!5m2!1sen!2sin"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


    </div>

    <div>
        <h3>Contact Form</h3>

        <!-- <div class="container"> -->
        <form action="/action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
            </select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
        <!-- </div> -->
    </div>
</div>